
<table class="board">
  <tbody>
     <tr class="row">
      <td class="cell"> </td> 
      {{#each tableHeader as |header|}}
        <td class="cell">{{header}}</td>
      {{/each}} 
     </tr>
    
    {{#each cells as |columns index|}}
      <tr class="row">
        <td class="cell">{{index-position index}}</td>
        {{#each columns as |cell|}}
          <td class="cell" onclick={{action 'showCellStatus' cell}}>
            {{#if testMode}}
              {{#if cell.showShip}}
                x
              {{else if cell.showEmptyCell}}
                o
              {{/if}}
            {{else if cell.hasShip}}
              x
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>

<button class="bb-button" onclick={{action 'shuffleBoard'}} class="shufflerr"> {{if testMode 'Reset and shuffle' 'Shuffle' }}</button>

<div class="note"> In this game "o" represents empty and "x" represents ship</div>